@using CloudPhoto.Web.ViewModels.Images
@model IEnumerable<ListImageViewModel>


@if (@Model != null)
{
    foreach (var item in @Model)
    {
        string likeIconColor = string.Empty;
        if (item.IsLike)
        {
            likeIconColor = "red";
        }

<div class="col-md-4 mb-2 m-image-container">
    <img src=@item.ThumbnailImageUrl class="img-fluid">
    <a asp-action="Delete" asp-route-id=@item.Id class="my-icon-middle">
        <i class="far fa-times-circle"></i>
    </a>
    <a href="#" class="my-like-icon-right" onclick="sendVote('@item.Id'); return false">
        <i id=@item.Id class="fas fa-heart" style="color:@likeIconColor;"></i>
    </a>
</div>
    }
}