@using CloudPhoto.Web.ViewModels.Images
@model CreateImageViewModel


@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Upload Photo</h1>

@*use to show alets (myAlerts.js)*@
<div id="myMessageContainer">
</div>

<form id="keyForm" method="post"></form>

<div class="row">
    <div class="col-12 ml-2">
        <form id="dragFileForm" method="post" enctype="multipart/form-data">
            <div id="dragAndDropArea" class="text-truncate drag-and-drop-area">
                Browse or Drag & drop a file into this area
                <input id="file" class="custom-file-input" name="file" value="" type="file" size="1" onchange="uploadControlFile('file');" />
            </div>
        </form>
    </div>
</div>

<div id="loader" class="text-center" style="display: none;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<br>

<div id="main-form" class="row container-fluid collapse">
    <div class="col-5 ml-1">
        <img id="uploadImageId" class="img-fluid" src="">
    </div>
    <div class="col-5 ml-1">
        <form id="form" asp-controller="images" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control"
                        asp-items="@(new SelectList(Model.Categories,"Id","Name"))">
                    <option disabled selected>--- SELECT ---</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageTags" class="control-label"></label>
                <input id="inputTag" class="search-form form-controls" type="text" placeholder="Search or create tag" />
                <span asp-validation-for="ImageTags" class="text-danger"></span>
                <div class="form-group" id="newElements">
                </div>
            </div>
            <div hidden>
                <input asp-for="ImageTags" type="text" id="added-tags">
            </div>
            <div class="form-group" hidden>
                <label asp-for="ImageUrl" class="control-label"></label>
                <input id="image-url" asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <input id="image-id" asp-for="ImageId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-lg" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/imageCreateView.js"></script>
}
