@using CloudPhoto.Web.ViewModels.Images
@model IEnumerable<ListImageViewModel>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form id="voteForm" method="post"></form>

<div class="row container-fluid">
    <div id="side-search" class="col-md-2">
        @await Component.InvokeAsync("FilterBar")
    </div>
    <div id="hide-side-search" style="display:none">
        <a href="#" onclick="closeMenu()">
            <i class="fas fa-search"></i>
            Show search
        </a>
    </div>
    <div id="containerImages" class="col-md-10">
        <div id="partialView" class="row">
            <partial name="_ImageListPartial" model="@Model" data="@Model">
        </div>
    </div>
</div>

<div id="progress" class="text-center" style="display: none;">
    <div class="spinner-border a" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


@section Scripts {
    <script>

        var pageSize = 5;
        var pageIndex = 2;

        $(document).ready(
            function () {
                hookToCloseSideMenu();
            });

        $(window).scroll(function () {
            if ($(window).scrollTop() ==
                $(document).height() - $(window).height()) {
                GetData();
            }
        });

        function hookToCloseSideMenu() {
            const node = document.getElementById("sideCloseBtn");
            node.addEventListener("click", function (event) {
                closeMenu();
            });

            const node1 = document.getElementById("checkSearch");
            node1.addEventListener("change", function (event) {
                closeMenu();
            });
        }

        function closeMenu() {
            var x = document.getElementById("side-search");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }

            var x1 = document.getElementById("hide-side-search");
            if (x1.style.display === "none") {
                x1.style.display = "block";
            } else {
                x1.style.display = "none";
            }

            var x2 = document.getElementById("containerImages");
            if (x2.classList.contains("col-md-10")) {
                x2.classList.remove("col-md-10");
                x2.classList.add("col-md-12")
            } else {
                x2.classList.remove("col-md-12");
                x2.classList.add("col-md-10")
            }

        }

        function sendVote(imageId) {
            var token = $("#voteForm input[name=__RequestVerificationToken]").val();

            var formData = new FormData();
            formData.append("imageId", imageId);

            let style = document.getElementById(imageId).getAttribute('style');
            if (style.includes("red")) {
                formData.append("isLike", false);
            }
            else {
                formData.append("isLike", true);
            }

            $.ajax(
                {
                    url: "/api/votes",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    headers: { 'X-CSRF-TOKEN': token },
                    complete: function () {
                        return false;
                    },
                    success: function (data) {
                        if (data.result == true) {
                            if (style.includes("red")) {
                                document.getElementById(imageId).setAttribute("style", "color:");
                            }
                            else {
                                document.getElementById(imageId).setAttribute("style", "color:red");
                            }
                        }
                    }
                }
            );

            return false;
        }

        function GetData() {
            var token = $("#voteForm input[name=__RequestVerificationToken]").val();

            var formData = new FormData();
            formData.append("page", pageIndex);
            formData.append("perPage", pageSize);

            $.ajax({
                url: '/images/GetSearchingData',
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    if (data != null) {
                        var partialView = $('#partialView');
                        partialView.append(data);
                        pageIndex++;
                    }
                },
                beforeSend: function () {
                    $("#progress").show();
                },
                complete: function () {
                    $("#progress").hide();
                },
                error: function () {
                    alert("Error while retrieving data!");
                }
            });
        }
    </script>
}
