@using CloudPhoto.Web.ViewModels.Images
@model IEnumerable<ListImageViewModel>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form id="voteForm" method="post"></form>

<div class="row container-fluid">
    <div id="side-search" class="col-md-2">
        @await Component.InvokeAsync("FilterBar")
    </div>
    <div id="hide-side-search" style="display:none">
        <a href="#" onclick="closeMenu()">
            <i class="fas fa-search"></i>
            Show search
        </a>
    </div>
    <div id="containerImages" class="col-md-10">
        <div class="row">
            <partial name="_ImageListPartial" model="@Model" data="@Model">
                @*@foreach (var item in @Model)
            {
                string likeIconColor = string.Empty;
                if (item.IsLike)
                {
                    likeIconColor = "red";
                }

                <div class="col-md-4 m-image-container">
                    <img src=@item.ImageUrl class="img-thumbnail">

                    <a asp-action="Delete" asp-route-id=@item.Id class="my-icon-middle">
                        <i class="far fa-times-circle"></i>
                    </a>
                    <a href="#" class="my-like-icon-right" onclick="sendVote('@item.Id'); return false">
                        <i id=@item.Id class="fas fa-heart" style="color:@likeIconColor;"></i>
                    </a>

                </div>
            }*@
        </div>
    </div>
</div>


@section Scripts {
    <script>

        $(document).ready(
            function () {
                hookToCloseSideMenu();
            }
        );

        function hookToCloseSideMenu() {
            const node = document.getElementById("sideCloseBtn");
            node.addEventListener("click", function (event) {
                closeMenu();
            });

            const node1 = document.getElementById("checkSearch");
            node1.addEventListener("change", function (event) {
                closeMenu();
            });
        }

        function closeMenu() {
            var x = document.getElementById("side-search");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }

            var x1 = document.getElementById("hide-side-search");
            if (x1.style.display === "none") {
                x1.style.display = "block";
            } else {
                x1.style.display = "none";
            }

            var x2 = document.getElementById("containerImages");
            if (x2.classList.contains("col-md-10")) {
                x2.classList.remove("col-md-10");
                x2.classList.add("col-md-12")
            } else {
                x2.classList.remove("col-md-12");
                x2.classList.add("col-md-10")
            }
            
        }

        function sendVote(imageId) {
            var token = $("#voteForm input[name=__RequestVerificationToken]").val();

            var formData = new FormData();
            formData.append("imageId", imageId);

            let style = document.getElementById(imageId).getAttribute('style');
            if (style.includes("red")) {
                formData.append("isLike", false);
            }
            else {
                formData.append("isLike", true);
            }

            $.ajax(
                {
                    url: "/api/votes",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    headers: { 'X-CSRF-TOKEN': token },
                    complete: function () {
                        return false;
                    },
                    success: function (data) {
                        if (data.result == true) {
                            if (style.includes("red")) {
                                document.getElementById(imageId).setAttribute("style", "color:");
                            }
                            else {
                                document.getElementById(imageId).setAttribute("style", "color:red");
                            }
                        }
                    }
                }
            );

            return false;
        }
    </script>
}
