@using CloudPhoto.Web.ViewModels.Images
@using CloudPhoto.Common;
@model IEnumerable<ListImageViewModel>

@{
    ViewData["Title"] = "Index";

}

<form id="keyForm" method="post"></form>

<div class="row container-fluid">
    <div id="side-search" class="col-md-2" style="display:none">
        @* Load filter bar *@
        @await Component.InvokeAsync("FilterBar")
    </div>
    <div id="hide-side-search" @*style="display:none"*@>
        <a href="#" onclick="helper.onclickShowSearcBar();">
            <i class="fas fa-search"></i>
            Show search
        </a>
    </div>
    <div id="containerImages" class="col-md-12">
        <div id="partialView" class="row">
            <partial name="_ImageListPartial" model="@Model" data="@Model">
        </div>
    </div>
</div>

<div id="progress" class="text-center" style="display: none;">
    <div class="spinner-border a" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="modal modal-full fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modalPartialView">
                    @*here must show _PreviewImagePartial*@
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/myFloatPaging.js"></script>
    <script type="text/javascript" src="~/js/imageIndexView.js"></script>
    <script type="text/javascript" src="~/js/mySubscribe.js"></script>
    <script>
        var searchData = new mainCookieHelper();
        var helper = new ImageIndexViewHelper(searchData);
    </script>
}
