@using CloudPhoto.Web.ViewModels.Images
@model ImagePreviewViewModel


@{
    int preview = Model.ImageIndex - 1;
    int next = Model.ImageIndex + 1;
    int userVode = Model.IsLike ? 0 : 1;

    string likeIconColor = string.Empty;
    if (Model.IsLike)
    {
        likeIconColor = "red";
    }
}

<form id="keyForm" method="post"></form>
<form id="voteForm" method="post"></form>

<div class="row container">
    @if (Model.ImageIndex > 1)
    {
        <div id="leftArrow" class="my-auto">
            <a asp-controller="Images" asp-action="PreviewImage" asp-route-id=@preview>
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
    }
    <div class="col-10 justify-content-center">
        <img src=@Model.ImageUrl class="img-fluid">
    </div>
    @if (!Model.IsEndedImage)
    {
        <div id="rightArrow" class="my-auto">
            <a asp-controller="Images" asp-action="PreviewImage" asp-route-id=@next>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    }
</div>

<div class="row container">
    <div id="authorSection" class="col-md-6">
        <div id="authorName" class="align-content-start">
            <a class="nav-link" asp-controller="Users" asp-action="Index" asp-route-id=@Model.AuthorId >
                @Model.AuthorUserName
            </a>
        </div>
    </div>
    <div id="imageActionSection" class="col-md-6">
        <div>
            <button id="likeButton" type="button" class="btn btn-outline-dark" 
                    onclick="mySendImageVoteOnPreviewForm(this, '@Model.Id', @Model.LikeCount); return false;">
                <i id=@Model.Id class="fas fa-heart" style="color:@likeIconColor;"></i>
                @Model.LikeCount likes
            </button>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var preview = @preview;
        var next = @next;
        var userVode = @userVode;

        $(document).ready(
            function () {
                hookToArrowKey();
            });

        function hookToArrowKey() {
            document.addEventListener('keydown', function (e) {
                switch (e.keyCode) {
                    case 37:
                        if ($("#leftArrow").length) {
                            window.location.href = "/images/PreviewImage/" + preview;
                        }
                        break;
                    case 39:
                        if ($("#rightArrow").length) {
                            window.location.href = "/images/PreviewImage/" + next;
                        }
                        break;
                }
            });
        }

        
    </script>
}