@using CloudPhoto.Web.ViewModels.FilterBar
@model FilterBarSearchDataViewModel
@*<input id="sideCloseBtn" type="button" class="btn form-control" value="Hide" />*@
<div>
    <a id="sideCloseBtn" href="#">
        <i class="fas fa-angle-double-left"></i>
        Hide
    </a>
    <a id="clearFilter" href="#">
        <i class="far fa-trash-alt"></i>
        Clear All
    </a>

    <form id="filterForm">
        <div class="form-group">
            <input id="searchImageTag" asp-for="Name" class="form-control" />
        </div>

        <button class="btn btn-info" onclick="startSearchData(); return false;"><i class="fas fa-search"></i>Search</button>
        <br>
        <div id="groupCheckBox">
            @{

                for (int i = 0; i < Model.Category.Count; i++)
                {
                    <div class="form-group">
                        <input id="@Model.Category[i].Id" type="checkbox" name="checkBoxValue" asp-for="@Model.Category[i].Check" onchange="helper.checkUncheckCategory(this)" />
                        <label asp-for="@Model.Category[i].Name">@Model.Category[i].Name</label>
                    </div>
                }
            }
        </div>

    </form>
</div>