@using CloudPhoto.Web.ViewModels.Users
@using CloudPhoto.Common;
@model UserPreviewViewModel

@{
    int imagePerPage = GlobalConstants.ImagePerPage;
}

@*use to show alets (myAlerts.js)*@
<div id="myMessageContainer">
</div>

<div class="modal modal-full fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modalPartialView">
                    @*here must show _PreviewImagePartial*@
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row container-fluid">
        <div id="userAvatar" class="col-md-5">
            <form id="dragFileForm" method="post" enctype="multipart/form-data">
                <div id="dragAndDropArea" class="text-truncate">
                    @{ string avatarUrl; }
                    @if (string.IsNullOrEmpty(Model.UserAvatar))
                    {
                        avatarUrl = "/icon/emptyAvatar.png";
                    }
                    else
                    {
                        avatarUrl = @Model.UserAvatar;
                    }
                    <img id="avatarImage" src=@avatarUrl referrerpolicy="no-referrer" width="60" height="60"
                         class="rounded-circle float-lg-right float-xl-right" alt=@Model.UserName>
                    <input id="file" class="custom-file-input" name="file" value="" type="file" size="1"
                           onchange="helper.uploadAvatar('file');" />
                </div>
            </form>
        </div>
        <div id="UserDescription" class="col-md-7">
            <div class="row container">
                <div class="col-md-auto">
                    <p class="text-dark h3">@Model.UserName</p>
                </div>
                <div class="justify-content-end">
                    @if (!string.IsNullOrEmpty(Model.PayPalEmail))
                    {
                        <form method="post" asp-controller="users" asp-action="donate" asp-route-id=@Model.Id>
                            <input type="submit" class="btn btn-success" value="Donate" alt="Support this photographer with a PayPal donation">
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<form id="keyForm" method="post"></form>

<div class="row container-fluid">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a id="uploadTab" class="nav-link active" href="#" data-toggle="tab" role="tab" onclick="helper.getUploadImages(this);">
                Upload Images
            </a>
        </li>
        <li class="nav-item">
            <a id="likeTab" class="nav-link" href="#" data-toggle="tab" role="tab" onclick="helper.getLikeImages(this);">
                Like Images
            </a>
        </li>
    </ul>
</div>

<br>

<div id="containerImages" class="col-md-12">
    <div id="partialView" class="row">
    </div>
</div>

<div id="progress" class="text-center" style="display: none;">
    <div class="spinner-border a" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/myFloatPaging.js"></script>
    <script type="text/javascript" src="~/js/userSearchData.js"></script>
    <script type="text/javascript" src="~/js/userIndexView.js"></script>
    <script>
        var pagingData = new userCookieHelper(@imagePerPage, '@Model.Id',"uploads");
        var helper = new UserIndexViewHelper(pagingData);
    </script>
}
